<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minton.fastmathtrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        keeping this for notes
        <activity
            android:name=".MathCards.MathCardsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        -->
        <activity android:name=".WinningScreenActivity" />
        <activity android:name=".Menus.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MathCards.AdditionCardsActivity" />
        <activity android:name=".MathCards.SubtractionCardsActivity" />
        <activity android:name=".MathCards.MultiplicationCardsActivity" />
        <activity android:name=".MathCards.DivisionCardsActivity" />
        <activity android:name=".MathCards.CombinationCardsActivity" />
        <activity android:name=".Menus.SettingsActivity"></activity>
    </application>

</manifest>