<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.minton.fastmathtrainer">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fastmathtrainericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fastmathtrainericonround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544/6300978111"/>
 -->

        <!--
        keeping this for notes
        <activity
            android:name=".MathCards.MathCardsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        -->
        <activity
            android:name=".Generic.WinningScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menus.MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MathCards.AdditionCardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathCards.SubtractionCardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathCards.MultiplicationCardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathCards.DivisionCardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathCards.CombinationCardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menus.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Generic.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>